.note{
	margin-bottom: 15px;
}
.form-control {
    margin-bottom: 20px;
}
td:first-child {
    width: 70%;
}
.add-note{
	float:left;
}
.startOver {
	float: right;
}
.color{
	background-color: beige;
}
[contenteditable]:focus {
	background-color: #e1daf0;
}
.editNote {
	cursor: pointer;
}
#timer {
	width: 100px;
	height: 100px;
	background-color: gray;
	float: right;
	display: none;
}
.saveTime {
	float: right;
}